# Database Configuration
MONGO_URI=mongodb+srv://vaishnaviikommidi:vaishnavi123@cluster0.xoyhiow.mongodb.net/hospitalDB

# JWT Configuration
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRE=7d

# Server Configuration
PORT=5001
NODE_ENV=development
